{% extends 'base.html.twig' %}

{% block body %}
{#{{ dump(bets) }}#}
    {% for key, value in bets %}
        {% for key, value in value %}
        <li>{{ key }}</li>
{#        <li>{{ value.bet }}</li>#}
{#        <li>{{ value.date }}</li>#}
        {% endfor %}
    {% endfor %}
{#    {% for row in bets %}#}
{#        <h3>Id - {{ row.0 }}</h3>#}
{#        {% for bet in row %}#}
{#        <h3>Amount - {{ row.bet }}</h3>#}
{#        <h3>Date - {{ row.date }}</h3>#}
{#        <a href="/auction">К списку Аукционов</a>#}

{#        {% endfor %}#}
{#    {% endfor %}#}
{% endblock %}