{% extends 'base.html.twig' %}

{% block body %}
{#{{ dump(bets) }}#}



{#        <li>{{ value.bet }}</li>#}
{#        <li>{{ value.date }}</li>#}



    {% for key, bet in bets %}
        <li>{{ key }}: {{ bet.bet|e }}</li>
    {% endfor %}
{#{{ dump(bets) }}#}
{#    {% for value in bets %}#}
{#    {{ dump(value) }}#}

{#        <h3>Amount - {{ value.bet }}</h3>#}
{#        <h3>Date - {{ value.date }}</h3>#}
        <a href="/auction">К списку Аукционов</a>


    {% endfor %}
{% endblock %}